/* Reset some default styles */
body, div, h1, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2d2d2d;
    color: #d8d8d8;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; /* This creates the swipe effect */
}

#section1 {
    background-color: #2d2d2d;

}

#section2 {
    background-color: #2d2d2d;
}

#section3 {
    background-color: #2d2d2d;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-top: 20px;
}
