@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Micro 5', sans-serif;
}


body 
{
    min-height: 100vh;
    background: linear-gradient(#8d8d8d,  #454545)
}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo 
{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li 
{
    list-style: none;
    margin-left: 20px;
}

header ul li a 
{
    text-decoration: none;
    font-size: 1.5em;
    padding: 6px 15px;
    color: #000000;
    border-radius: 20px;
}

header ul li a:hover
{
    background: #000000;
    color: #ffffff;
}
